/* Estilos componente Inicio */
.cont-inicio{
    width: 60vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: #3C3C3B;
    margin: 0 auto 0 auto;
}
        .btn-inicio{
            display: inline-block;
            width: max-content;
            position: relative;
            border-radius: 4px;
            padding: 0 10px;
            margin: 20px 10px 10px;
            font-family: 'Poppins';
        }
        .btn-inicio:hover{
            border: 1px solid #3C3C3B;
        }